nav {
  display: flex;
  justify-content: center;
  padding: 33px 0;
}
nav img {
  max-width: 168px;
}
@media (min-width: 576px) {
  nav {
    padding: 40px 0;
  }
  nav img {
    max-width: 209px;
  }
}
